
textarea {
    border-radius: 4px;
}

div.campoBoton {
	display: inline-block;
}

.estiloMio {
	margin: 0 auto 0 auto;
	width: 30%;  
}

.seccionCentralAmpliada {
	margin-top: 1%;
	width: 76.5%;
}

#crearFacultad{
	width: 90%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 2%;
}

#marcoDatos{
    margin-left: 2%;
    width: 90%;
}

hr {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    border-style: inset;
}

legend {
    font-size: 20px; 
    margin-bottom: 0px;
}

.modal-header {
    background-color: #BE4033;
    color: #fff;
}
