
textarea {
    border-radius: 4px;
}

form {
	margin: 0 auto 0 auto;
	width: 80%;
}

div.campoBoton {
	display: inline-block;
}

.estiloMio {
	margin: 0 auto 0 auto;
	width: 30%;  
}

.seccionCentralAmpliada {
	margin-top: 1%;
	width: 76.5%;
}

#crearProgramaCurricular{
	width: 90%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 2%;
}

#marcoDatos{
    margin-left: 2%;
    width: 90%;
}